@use "../../styles/fonts" as *;

.header {
    &.homepage {
        position: absolute;
        width: 100%;
        z-index: 10;
        padding-top: .75rem;

        .container {
            padding: 1rem 1.75rem;
        }
    }

    .container {
        padding: 1.75rem 1.75rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Title {
        @include mynerve();
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 0;

        .homepage & {
            color: var(--white);
        }

        @media screen and (min-width:768px) {
            font-size: 2.5rem;
        }
    }

    &Second {
        font-size: 1.75rem;
        text-transform: initial;
        margin-left: .75rem;

        @media screen and (min-width:768px) {
            font-size: 2rem;
        }
    }

    &Site {
        width: 50px;
        height: 50px;
        padding: .5rem;
        display: flex;
        align-items: center;
        border-radius: 24px;
        overflow: hidden;
        transition: all .4s ease-in-out;

        &:hover {
            background: var(--white-50);
            box-shadow: 0 3px 10px var(--black-20);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);

            @media screen and (min-width:768px) {
                width: 185px;

                .headerSiteText {
                    width: 100%;
                    margin-left: .75rem;
                }
            }
        }

        &Img {
            width: 34px;
            height: auto;
            display: block;
        }

        &Text {
            @include montserrat();
            color: var(--black);
            width: 0;
            margin-left: 0;
            overflow: hidden;
            transition: all .4s ease-in-out;
        }
    }
}
