@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.sitemap {
    @include wysiwyg();

    &Content {
        @media screen and (min-width:768px) {
            width: 66.66%;
            margin: 0 auto;
        }
    }
}

.container {
    padding-top: 0;
}