@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.card {
    width: 100%;

    @media screen and (min-width:768px) {
        width: calc(50% - 0.5rem);
    }

    @media screen and (min-width:1024px) {
        width: calc(33.33% - (2rem / 3));
    }

    &Swiper {
        width: 100%;
        height: 475px;
        padding: 2rem 2rem 1rem 2rem;
        transition: all 0.4s ease-in-out;

        @media screen and (min-width:768px) {
            padding: 3rem 2rem 1.5rem 2rem;
        }
    }
    
    &Slide {
        border-radius: 1rem;
        overflow: hidden;    
    }

    &Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
    }

    &Count {
        @include mynerve();
        font-size: 1rem;
        color: var(--white);
        font-weight: bold;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0px 0px 6px var(--black);
    }

    &Link {
        text-align: center;
        display: block;
        max-width: 370px;
        margin: 0 auto;
        
        @media screen and (min-width:992px) {
            &:hover {

                .cardSwiper {
                    transform: scale(1.03);
                }

                .cardName {
                    transform: scale(1.05);
                    transform-origin: center;
                    background: var(--black-20);
                }
            }
        }
    }

    &Name {
        @include mynerve();
        font-weight: 700;
        font-size: 1.125rem;
        width: auto;
        padding: 0.5rem 1rem;
        margin: 0 1rem;
        display: inline-block;
        background: var(--white-20);
        border-radius: 1rem;
        box-shadow: 0 4px 30px var(--black-20);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border: 1px solid var(--white);
        transition: all 0.4s ease-in-out;

        @media screen and (min-width:768px) {
            font-size: 1.275rem;
        }
    }
}
