@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.pagelink {
    @include wysiwyg();
    
    &{
        width: 100%;
        border-radius: 1rem;
        border: 1px solid var(--black);
        box-shadow: 0 0 30px 0 var(--black-30);
    }

    &.brown {
        background: var(--brown);
    }

    &.darkblue {
        background: var(--darkblue);
    }

    @media screen and (min-width: 768px) {
        width: calc(50% - 1rem);
    }

    &Link {
        padding: 1.25rem 1.5rem 2rem 1.5rem;
        text-decoration: none !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &:hover {
            .pagelinkBtn {
                background: var(--white-20);
            }
        }

        @media screen and (min-width: 768px) {
            padding: 2rem 2rem 2.5rem;
        }
    }

    &Content {
        width: 100%;
    }

    &Title {
        color: var(--white);
        margin-bottom: .75rem !important;
    }

    &Text {
        color: var(--white);
        margin-bottom: 2.5rem;
    }

    &Btn {
        @include button(var(--white), var(--black-20), var(--white-20));
        
        & {
            align-self: flex-start;
            box-shadow: none;
        }
    }
}