@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.settings {
    position: relative;
    width: 100%;
    padding: 0 0 5rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 1;

    @media screen and (min-width:768px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    @media screen and (min-width:992px) {
        width: calc(50% - 1rem);
        padding: 4.5rem 0 0 0;
        margin: 0;
    }

    &Title {
        @include mynerve();
        color: var(--white);
        font-size: 0;
        margin-bottom: 1.75rem;
        display: block;
        text-shadow: 0 4px 30px var(--black-50);

        @media screen and (min-width:992px) {
            font-size: 1.75rem;
            color: var(--black);
            text-shadow: none;
        }
    }

    &List {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;

        @media screen and (min-width:768px) {
            justify-content: flex-start;
            gap: 1.5rem;
        }
    }

    &Item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem 1rem;
        background: var(--white-40);
        border-radius: 0.75rem;
        box-shadow: 0 4px 30px var(--black-20);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border: 1px solid var(--white);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &.forth {
            width: calc(25% - 0.375rem);

            @media screen and (min-width:768px) {
                width: calc(25% - 1.125rem);
            }
        }

        &.half {
            width: calc(50% - 0.25rem);

            @media screen and (min-width:768px) {
                width: calc(50% - 0.75rem);
            }
        }

        &.done {
            opacity: 0.5;
        }

        @media screen and (min-width:768px) {
            box-shadow: 0 4px 30px var(--black-20);

            &:hover {
                box-shadow: 0 4px 30px var(--black-50);
            }
        }
    }

    &Value {
        @include montserrat();
        display: block;
        font-weight: 900;
        font-size: 0.875rem;
        line-height: 1.25;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
        
        @media screen and (min-width:768px) {
            font-size: 1.125rem;
        }
    }

    &Name {
        font-size: 0.75rem;
        line-height: 1.25;
        display: block;

        @media screen and (min-width:768px) {
            font-size: 0.875rem;
        }
    }
}