@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.settings {
    position: relative;
    width: 100%;
    padding: 0 0 5rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 1;

    @media screen and (min-width:768px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    @media screen and (min-width:992px) {
        width: calc(50% - 1rem);
        padding: 5.5rem 0 0 0;
        margin: 0;
    }

    &Title {
        @include mynerve();
        color: var(--white);
        font-size: 0;
        margin-bottom: 1.75rem;
        display: block;
        text-shadow: 0 4px 30px var(--black-50);

        @media screen and (min-width:992px) {
            font-size: 1.75rem;
            color: var(--black);
            text-shadow: none;
        }
    }

    &List {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: .5rem;

        @media screen and (min-width:768px) {
            justify-content: flex-start;
            gap: 1.5rem;
        }
    }

    &Item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        padding: .5rem .75rem;
        background: var(--white-50);
        border-radius: .75rem;
        box-shadow: 0 4px 30px var(--black-20);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border: 1px solid var(--white);
        transition: all .2s ease-in-out;
        cursor: pointer;

        &.forth {
            width: calc(25% - .375rem);

            @media screen and (min-width:768px) {
                width: calc(25% - 1.125rem);
            }
        }

        &.half {
            width: calc(50% - .25rem);

            @media screen and (min-width:768px) {
                width: calc(50% - .75rem);
            }
        }

        &.done {
            opacity: .5;
        }

        @media screen and (min-width:768px) {
            padding: .5rem 1rem;
            box-shadow: 0 4px 30px var(--black-20);

            &:hover {
                box-shadow: 0 4px 30px var(--black-50);
            }
        }
    }

    &Simulation {
        width: 48px;
        height: auto;
        display: inline-block;
    }

    &Text {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        width: calc(100% - 32px);
    }

    &Value {
        @include montserrat();
        display: block;
        font-weight: 900;
        font-size: .875rem;
        line-height: 1.25;
        width: 100%;
        margin-bottom: .5rem;

        @media screen and (min-width:640px) {
            font-size: 1rem;
        }
        
        @media screen and (min-width:768px) {
            font-size: 1.125rem;
        }
    }

    &Name {
        font-size: .75rem;
        line-height: 1.25;
        width: 100%;
        display: block;

        @media screen and (min-width:768px) {
            font-size: .875rem;
        }
    }
}