@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.back {
    width: 100%;
    margin: 1rem 0 1.5rem 0;

    @media screen and (min-width: 992px) {
        margin-bottom: 1.5rem;
    }

    &:hover {
        .backImg {
            margin-left: -4px;
            margin-right: 4px;
        }
    }
    
    .container {
        padding: 0 var(--padding);

        @media screen and (min-width: 768px) {
            padding: 2rem var(--padding) 0 var(--padding);
        }
    }

    &Link {
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        text-decoration: none;
        padding: .5rem 1rem .5rem .5rem;
        margin-left: -1.5rem;
        background: var(--black-05);
        border-radius: 0 .75rem .75rem 0;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-top: 1px solid var(--black);
        border-right: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
        border-left: none;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background: var(--black-10);
        }

        @media screen and (min-width: 768px) {
            gap: .75rem;
            padding: .5rem 1rem;
            margin-left: 0;
            border-radius: 1rem;
            border: 1px solid var(--black);
        }
    }

    &Img {
        width: 20px;
        height: auto;
        display: inline-block;
        transition: all .2s ease-in-out;

        @media screen and (min-width: 768px) {
            width: 24px;
        }
    }

    &Text {
        @include mynerve();
        font-size: 1rem;
        color: var(--black);

        @media screen and (min-width: 768px) {
            font-size: 1.25rem;
        }
    }
}