@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.slider {
    width: 100%;
    position: sticky;
    top: 0;
    
    @media screen and (min-width:992px) {
        width: calc(50% - 1.5rem);
    }

    &Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        @media screen and (min-width:768px) {
            border-radius: 1.25rem;
            overflow: hidden;
        }
    }
}

.imgSwiper {
    height: 100vh;
    height: 100dvh;

    @media screen and (min-width:992px) {
        height: 650px;
    }
}
