@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.slider {
    width: 100%;

    @media screen and (min-width:768px) {
        width: calc(50% - 1rem);
    }

    &Img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.swiper {
    &-pagination {
        &-pagination-bullet {
            background: var(--white);
            
            &--active {
                background: var(--white);
            }
        }
    }
}
