@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.listCard {
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        @media screen and (min-width:768px) {
            gap: 1rem;
            padding: 0 1.5rem;
        }
    }
}