@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.listCard {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width:768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }

        @media screen and (min-width:768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }
    }
}