@use "../../styles/fonts" as *;

.listcard {
    margin-bottom: 2rem;

    @media screen and (min-width:768px) {
        margin-bottom: 3rem;
    }
    
    &Global {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width:768px) {
            gap: 1rem;
        }
    }

    &Title {
        @include mynerve();
        font-size: 1.5rem;
        margin-bottom: 0;
        text-align: center;
        padding-top: 1rem;
        margin: 0 auto;
        width: 100%;

        @media screen and (min-width:768px) {
            font-size: 2rem;
        }
    }
}

.noResults {
    @include montserrat();
    text-align: center;
    padding: 3rem 0;
}