@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.filter {
    width: 100%;
    padding: 0rem 1.5rem;

    @media screen and (min-width:768px) {
        padding: 0 2rem;
    }

    &Btn {
        width: auto;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin: 0 0 0 auto;
        border: none;
        background: transparent;
        cursor: pointer;

        @media screen and (min-width:992px) {
            display: none;

            &.reset {
                display: flex;
                align-items: center;
            }
        }

        &Text {
            @include montserrat();
            font-weight: 500;
            font-size: 1rem;
            display: inline-block;
        }

        &Icon {
            width: 28px;
            height: auto;
            display: inline-block;
        }
    }

    &Content {
        height: 0;
        overflow: hidden;
        transition: height 0.2s ease-in-out;

        @media screen and (min-width:992px) {
            height: 100% !important;
        }
    }

    &Global {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem 0;
    }

    &Item {
        width: calc(50% - 1rem);

        @media screen and (min-width:768px) {
            width: calc(33.33% - 1.34rem);
        }
    }

    &Select {
        font-size: 1rem;
        width: 100%;
        padding: 0.5rem;
        background: var(--white);
        border: 1px solid var(--black);
        border-radius: 10px;
    }
}

.listcardReset {
    width: 100%;
}