@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.container {
    padding-top: 0 !important;
}

.wysiwyg {
    @include wysiwyg();
    
    @media screen and (min-width:768px) {
        width: 66.66%;
        margin: 0 auto;
    }
}