@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.comparateur {

    &Container {
        padding-top: 0;

        @media screen and (min-width:768px) {
            padding-top: 2rem;
        }
    }

    &Title {
        @include mynerve();
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @media screen and (min-width:768px) {
            text-shadow: none;
        }
    }

    &Subtitle {
        @include mynerve();
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        text-align: center;

        @media screen and (min-width:768px) {
            font-size: 2rem;
        }
    }

    &Select {
        font-size: 1rem;
        color: var(--black);
        width: 80%;
        padding: .5rem;
        margin: 0 auto;
        display: block;
        background-color: var(--white);
        border: 1px solid var(--black);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        appearance: none;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw2IDdMMTEgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
        background-repeat: no-repeat;
        background-position: calc(100% - 0.5rem) 50%;

        &:hover {
            background-color: var(--lightgrey);
        }

        @media screen and (min-width: 768px) {
            width: 35%;
        }
    }

    &Results {
        margin-top: 2rem;

        @media screen and (min-width: 768px) {
            margin-top: 4rem;
        }
    }

    &Global {
        display: flex;
        flex-wrap: wrap;
    }

    &Solo {
        width: 100%;
        padding: 1rem 0;
        transition: all 0.2s ease-in-out;

        @media screen and (min-width:640px) {
            width: 50%;
            padding: 1rem .75rem;
        }

        @media screen and (min-width:768px) {
            width: 33.33%;
            padding: 1rem;

            &:hover {
                background: var(--black-10);
            }
        }

        &Img {
            width: 100%;
            height: auto;
            display: block;
        }

        &Info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: .5rem 0;
        }

        &Title {
            @include mynerve();
            font-size: 1.25rem;
            color: var(--black);
            margin: 0;
        }

        &Simulation {
            width: 32px;
            height: auto;
            display: block;
        }

        &Desc {
            font-size: 1rem;
            font-style: italic;
        }
    }
}

.noResults {
    @include montserrat();
    text-align: center;
    padding: 3rem 0;
}