@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.title {
    width: 100%;

    &.sticky {
        color: var(--white);
        position: absolute;
        top: .5rem;
        z-index: 2;

        @media screen and (min-width:992px) {
            color: var(--black);
            position: relative;
            top: auto;
        }

        .container {
            padding: 1rem 1.5rem 0;

            @media screen and (min-width:768px) {
                padding: 1.5rem 1rem 1.5rem 1rem;
            }
        }
    }

    .container {
        padding: 1rem 1.5rem;

        @media screen and (min-width:768px) {
            padding: 2rem 2rem 1rem 2rem;
        }
    }

    &Text {
        @include mynerve();
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 0 10px var(--black-70);

        @media screen and (min-width:768px) {
            text-shadow: none;
        }
    }
}

