@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.title {
    width: 100%;

    &.sticky {
        // position: sticky;
        // top: 2.5rem;
        // z-index: 1;

        .container {
            padding: 1rem 3rem 0 3rem;

            @media screen and (min-width:768px) {
                padding: 1rem 0 0 0;
            }
        }
    }

    .container {
        padding: 1rem 1.5rem;

        @media screen and (min-width:768px) {
            padding: 2rem 2rem 1rem 2rem;
        }
    }

    &Text {
        @include mynerve();
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

