:root {
  --background: #ffffff;
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --almost-black: rgba(32, 32, 32, 1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-70: rgba(0, 0, 0, 0.7);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --grey: rgba(100, 100, 100, 1);
  --sand: rgba(240, 226, 199, 1);
  --sand-50: rgba(240, 226, 199, 0.5);
  --brown: rgba(102, 82, 67, 1);
  --darkblue: rgba(67, 75, 102, 1);

  --padding: 1.5rem;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../public/dot-grid.png');
  background-repeat: repeat;
  background-size: 300px 300px;
  opacity: 0.6;
  z-index: -1;
  /* pointer-events: none; */
}

a {
  color: inherit;
  text-decoration: none;
}

/********************************************
SWIPER
********************************************/
.swiper-button-prev,
.swiper-button-next {
  width: 32px !important;
  height: 32px !important;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid var(--white);
  background: var(--white-40);
  box-shadow: 0 4px 30px var(--black-20);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width:768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
  }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--white-70);
}

.swiper-button-prev {
  left: 12px !important;
}

.swiper-button-next {
  right: 12px !important;
}


.swiper-button-prev svg,
.swiper-button-next svg {
  width: auto !important;
  height: 20px !important;
}

.swiper-button-prev svg,
.swiper-button-next svg,
.swiper-button-prev svg path,
.swiper-button-next svg path {
  fill: var(--white) !important;
}

.swiper .swiper-pagination.swiper-pagination-bullets {
  bottom: 1.5rem;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--white-40);
  box-shadow: 0 4px 30px var(--black-20);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid var(--white);
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: var(--white);
}