@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.intro {
    text-align: center;
    padding: 2rem 2rem 4rem;
    margin: 0 auto;

    @media screen and (min-width:768px) {
        max-width: 768px;
    }

    &Title {
        @include mynerve();
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }

    &Content {
        @include wysiwyg();
    }
}