@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.intro {
    position: relative;
    padding: 1rem 0;

    .container {
        padding-bottom: 0;
    }

    &Text,
    &Title {
        @include wysiwyg();

        @media screen and (min-width: 768px) {
            width: 60%;
            margin: 0 auto;
        }
    }
}