@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.intro {
    background: var(--black);

    @media screen and (min-width:768px) {
        position: relative;
    }
    
    &Content {
        @include wysiwyg();

        & {
            color: var(--white);
            width: 100%;
            padding: 3rem  2rem;
        }

        @media screen and (min-width:768px) {
            & {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 34%;
                height: 100%;
                background: linear-gradient(90deg, var(--black-50) 60%, rgba(253, 29, 29, 0) 100%);;
                z-index: 2;
            }
        }
    }

    &Text {

    }

    &Title {
        @include mynerve();
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 3rem;

        @media screen and (min-width:768px) {
            font-size: 3rem;
        }
    }

    &Second {
        font-size: 1.75rem;
        text-transform: initial;
        margin-left: 0.75rem;
        display: inline-block;

        @media screen and (min-width:768px) {
            font-size: 2.5rem;
        }
    }
}