@use "../../styles/fonts" as *;

.filter {
    width: 100%;
    padding: 1rem 0;
    margin: 2rem 0;
    border-top: 1px solid var(--black-20);
    border-bottom: 1px solid var(--black-20);

    @media screen and (min-width:768px) {
        
    }

    &Btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Btn {
        color: var(--black);
        width: auto;
        height: 32px;
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .5rem .5rem .5rem 0;
        margin: 0 auto 0 0;
        border: none;
        background: transparent;
        cursor: pointer;

        &.reset {
            margin: 0 0 0 auto;
        }

        &:hover {
            .filterBtnText {
                text-decoration: underline;
            }
        }

        @media screen and (min-width:992px) {
            display: none;

            &.reset {
                display: flex;
                align-items: center;
            }
        }

        &Text {
            @include montserrat();
            font-weight: 500;
            font-size: 1rem;
            display: inline-block;
        }

        &Icon {
            width: 28px;
            height: auto;
            display: inline-block;
        }
    }

    &Content {
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;

        @media screen and (min-width:992px) {
            height: 100% !important;
        }
    }

    &Global {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2rem;
        row-gap: .75rem;
        width: calc(100% - 6px);
        margin: 0 auto;
        padding: 0 0 1rem 0;

        @media screen and (min-width:768px) {
            padding: 1rem 0;
        }
    }

    &Item {
        width: calc(50% - 1rem);

        @media screen and (min-width:768px) {
            width: calc(25% - 1.5rem);
        }
    }

    &Label {
        @include montserrat();
        font-weight: 500;
        padding: .5rem .25rem;
        display: block;
    }

    &Select {
        font-size: 1rem;
        color: var(--black);
        width: 100%;
        padding: .5rem;
        background-color: var(--white);
        border: 1px solid var(--black);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        appearance: none;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw2IDdMMTEgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
        background-repeat: no-repeat;
        background-position: calc(100% - 0.5rem) 50%;

        &:hover {
            background-color: var(--lightgrey);
        }
    }
}