@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.footer {
    @include montserrat();
    text-align: center;
    color: var(--white);
    background: var(--almost-black);
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}