@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;

.homeslider {
    background: var(--black);
    width: 100%;
}

.homeswiper {
    height: 500px;

    @media screen and (min-width:768px) {
        height: 700px;
    }

    &Slide {
        position: relative;
        width: 100%;
    }

    &Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: cover;
        display: block;
    }

    &Link {
        position: absolute;
        left: 50%;
        bottom: 4rem;
        display: block;
        transform: translateX(-50%);
        z-index: 1;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .homesliderContent {
                background: var(--white-40);
            }
        }
    }

    &Content {
        @include mynerve();
        color: var(--white);
        text-align: right;
        padding: 0.5rem 1rem;
        background: var(--white-20);
        border-radius: 1rem;
        box-shadow: 0 4px 30px var(--black-20);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border: 1px solid var(--white);
        transition: all 0.2s ease-in-out;

        &:hover {
            @media screen and (min-width:992px) {
                background: var(--black-20);
            }
        }
    }
    
    &Recipe {
        font-size: 1rem;

        @media screen and (min-width:768px) {
            font-size: 1.5rem;
        }
    }
}