@use '../../styles/global.scss' as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.text {
    @include wysiwyg();
    
    @media screen and (min-width:768px) {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}