@font-face {
    font-family: 'Iceland';
    src: url('fonts/Iceland-Regular.eot');
    src: url('fonts/Iceland-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Iceland-Regular.woff2') format('woff2'),
        url('fonts/Iceland-Regular.woff') format('woff'),
        url('fonts/Iceland-Regular.ttf') format('truetype'),
        url('fonts/Iceland-Regular.svg#Iceland-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin iceland($weight:400) {
    font-family: 'Iceland', Arial, sans-serif;
}

@font-face {
    font-family: 'Mynerve';
    src: url('fonts/Mynerve-Regular.eot');
    src: url('fonts/Mynerve-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Mynerve-Regular.woff2') format('woff2'),
        url('fonts/Mynerve-Regular.woff') format('woff'),
        url('fonts/Mynerve-Regular.ttf') format('truetype'),
        url('fonts/Mynerve-Regular.svg#Mynerve-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin mynerve($weight:400) {
    font-family: 'Mynerve', Arial, sans-serif;
}
