@font-face {
    font-family: 'Mynerve';
    src: url('fonts/Mynerve-Regular.eot');
    src: url('fonts/Mynerve-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Mynerve-Regular.woff2') format('woff2'),
        url('fonts/Mynerve-Regular.woff') format('woff'),
        url('fonts/Mynerve-Regular.ttf') format('truetype'),
        url('fonts/Mynerve-Regular.svg#Mynerve-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin mynerve($weight:400) {
    font-family: 'Mynerve', Arial, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@mixin montserrat($weight:400) {
    font-family: 'Montserrat', Arial, sans-serif;
}