@use 'fonts' as *;

@mixin wysiwyg() {

    h2 {

    }

    h3 {

    }

    h4 {

    }

    p {
        @include ptSerif();
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
    }

    a {
        text-decoration: underline;
    }
}