@use 'fonts' as *;

@mixin wysiwyg() {

    h2 {
        @include mynerve();
        font-size: 1.5rem;

        @media screen and (min-width:768px) {
            font-size: 1.75rem;
        }
    }

    h3 {

    }

    h4 {

    }

    p {
        @include ptSerif();
        font-size: 1.25rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: underline;
    }

    ul {
        @include ptSerif();
        font-size: 1.125rem;
        margin-left: 1.25rem;
        
        li {
            margin: 0.5rem 0;
        }
    }
}