@use 'fonts' as *;

@mixin wysiwyg() {

    h1 {
        @include mynerve();
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @media screen and (min-width:768px) {
            text-shadow: none;
        }
    }

    h2 {
        @include mynerve();
        font-size: 1.5rem;
        margin-bottom: 1.25rem;

        @media screen and (min-width:768px) {
            font-size: 2rem;
        }
    }

    h3 {
        @include mynerve();
        font-size: 1.25rem;
        margin-bottom: 1rem;

        @media screen and (min-width:768px) {
            font-size: 1.5rem;
        }
    }

    h4 {
        @include mynerve();
        font-size: 1rem;
        margin-bottom: 1rem;

        @media screen and (min-width:768px) {
            font-size: 1.125rem;
        }
    }

    p {
        @include montserrat();
        font-size: 1rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: underline;
    }

    ol,
    ul {
        @include montserrat();
        font-size: 1rem;
        margin-left: 1.25rem;
        margin-bottom: 1rem;
        
        li {
            @include montserrat();
            margin: .25rem 0;
        }
    }

    ol {
        counter-reset: step-counter;
        list-style-type: none;
        padding-left: 0;
        margin-left: 1.5rem;

        li {
            counter-increment: step-counter;

            &::before {
                content: counter(step-counter) ". ";
            }
        }
    }
}

@mixin button ($text: var(--white), $background: var(--white-20), $backgroundHover: var(--black-20)) {
    @include mynerve();
    font-size: 1.125rem;
    font-weight: bold;
    color: $text;
    text-align: center;
    padding: .5rem 1rem;
    background: $background;
    border-radius: 1rem;
    box-shadow: 0 4px 30px $backgroundHover;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid $text;
    transition: all .2s ease-in-out;

    &:hover {
        @media screen and (min-width:992px) {
            background: $backgroundHover;
        }
    }
}